<ion-header>
  <ion-navbar>
    <ion-title>
      Biblioteca LPA
    </ion-title>
    <ion-buttons end *ngIf="sessionCtrl.isLogged()">
      <button ion-button icon-only color="royal" (click)="goToUserProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="divSwipeable" (swipe)="swipeEvent($event)">
    <img src="assets/imgs/biblio.jpg"/>
    <h1>Bienvenido a la Biblioteca</h1>

    <div *ngIf="!sessionCtrl.isLogged()">
      <button ion-button full round (click)="goToLogin()" class="homeButtons">Inicia sesión</button>
      <button ion-button full round (click)="goToSignUp()" class="homeButtons">Regístrate</button>
    </div>

    <div *ngIf="sessionCtrl.isLogged()">
      <button ion-button full round (click)="goToMyLoans()" class="homeButtons">Mis Alquileres</button>
      <button ion-button full round (click)="goToChats()" class="homeButtons">Mis Chats</button>
    </div>

  </div>


</ion-content>
