<!--
  Generated template for the BooksSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>booksSearch</ion-title>
    <ion-buttons end *ngIf="sessionCtrl.isLogged()">
      <button ion-button icon-only color="royal" (click)="goToUserProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="divSwipeable" (swipe)="swipeEvent($event)">

    <form (ngSubmit)="buscar()">
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" [(ngModel)]="bookSearch.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Autor</ion-label>
        <ion-input type="text"  [(ngModel)]="bookSearch.author" name="author"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Editorial</ion-label>
        <ion-input type="text"  [(ngModel)]="bookSearch.publisher" name="publisher"></ion-input>
      </ion-item>
      <!--<ion-item>-->
        <!--<ion-label>ISBN</ion-label>-->
        <!--<ion-input type="text"  [(ngModel)]="bookSearch.isbn" name="isbn"></ion-input>-->
      <!--</ion-item>-->
      <ion-item>
        <ion-label>Género</ion-label>
        <ion-select [(ngModel)]="bookSearch.genre" name="genre">
          <ion-option value=""></ion-option>
          <ion-option *ngFor="let g of genres" value={{g.name}}>{{g.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button type="submit" block>Buscar</button>
    </form>

    <ion-list>
      <ion-item class="itemListaLibros" *ngFor="let book of books" (click)="goToBook(book)">
        <ion-thumbnail item-start>
          <img src="{{book.image}}">
        </ion-thumbnail>
        <h2 text-wrap>T {{book.name}}</h2>
        <p text-wrap>{{book.author}}</p>
        <ion-badge item-end>{{book.rate}}/10</ion-badge>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
