<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chats</ion-title>


  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="divSwipeable" (swipe)="swipeEvent($event)">
    <ion-item>
      <h2 *ngIf="!chats">No hay chats disponibles</h2>
      <h2 *ngIf="chats">Lista de chats</h2>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let chat of chats" (click)="goToChat(chat)">
        <ion-avatar item-start>
          <img src="{{chat.toUser.picture}}">
        </ion-avatar>
        <h2>{{chat.toUser.name}}</h2>
        <ion-icon name="arrow-dropright-circle" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
